<div class="menu-modal is-open">
  <div class="header-mobile-menu">
    <div class="header-logo">
      <img class="header-logo-svg" src="./img/header-ikons/logo.svg" />
      <a class="header-logo-text">FRESH HARVEST BOX</a>
    </div>
    <button type="button" class="btn-close-modal">
      <svg class="close-icon" width="12" height="12">
        <use href="./img/burger-menu.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <nav class="modal-nav">
    <ul class="modal-navigation">
      <li><a class="link" href="">How It Works</a></li>
      <li><a class="link" href="">Fruits</a></li>
      <li><a class="link" href="">Contacts</a></li>
      <li>
        <a href=""
          ><svg class="shop" width="19" height="23">
            <use href="./img/burger-menu.svg#icon-Vector-5"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
