<section class="contacts">
  <div class="contacts_container">
    <h2 class="contacts_header">fresh harvest box has got you covered</h2>
    <div class="fruits_contacts">
      <div class="melon_img">
        <picture class="img_contacts">
          <source
            media="(min-width: 1280px)"
            srcset="./images/melon_desctopx2.jpg 2x"
            media="(min-width: 768px)"
            srcset="./images/melon_x1.jpg 1x, ./images/melon_tabletx2.jpg 2x"
            media="(min-width: 375px)"
            srcset="./images/melon_x1.jpg 1x"
          />
          <img
            class="img_contacts melon"
            src="./images/melon_x1.jpg"
            alt="melon"
            width="335"
            height="475"
          />
        </picture>
      </div>
      <div class="blueberry_img">
        <picture class="img_contacts">
          <source
            media="(min-width: 1280px)"
            srcset="./images/blueberry_x2.jpg 2x"
            media="(min-width: 768px)"
            srcset="./images/blueberry_x1.jpg 1x, ./images/blueberry_x2 2x"
          />
          <img
            class="img_contacts blueberry"
            src="./images/blueberry_x1.jpg"
            alt="blueberry"
            width="335"
            height="475"
          />
        </picture>
      </div>
    <div class="contacts_input">
      <p class="contacts_p">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>>
      <div>
        <form class="send_form">
          <label for="mail" class="label-email">
            <input
              type="email"
              class="send"
              placeholder="Enter e-mail..."
              id="mail"
              name="email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              required=""
            />
          </label>
          <button class="send_button" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
