<footer class="footer">
  <div class="footer-container">
    <div class="footer-image-logo">
      <img
        class="footer-img"
        src="./img/footer-images/image.png"
        alt="woman with bananas"
      />
      <div class="footer-logo">
        <svg class="footer-logo-item" width="18" height="18">
          <use href="./img/footericons.svg#icon-logo"></use>
        </svg>
        <p class="footer-logo-span">FRESH HARVEST BOX</p>
      </div>
    </div>
    <div class="footer-links">
      <ul class="footer-links-list">
        <li class="footer-links-list-items"><a href="#hiw">How It Works</a></li>
        <li class="footer-links-list-items">
          <a href="#OrganicFruits">Fruits</a>
        </li>
        <li class="footer-links-list-items">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="footer-contact-links">
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-list-item">
            <a href="">
              <svg class="footer-svg-icons" width="24" height="24">
                <use href="./img/footericons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="footer-social-list-item">
            <a href="">
              <svg class="footer-svg-icons" width="24" height="24">
                <use href="./img/footericons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="footer-social-list-item">
            <a href="">
              <svg class="footer-svg-icons" width="24" height="24">
                <use href="./img/footericons.svg#icon-youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-phone">
        <a href="tel:+380684439426" target="_blank" class="footer-phone-link"
          >+380 (68)443-94-26</a
        >
      </div>
      <div class="footer-address">
        <a
          href="https://www.google.pl/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+Stany+Zjednoczone/@40.7335932,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?entry=ttu"
          target="_blank"
          class="footer-address-link"
          >1678 S. Pioneer Road <br />
          Salt Lake City UT <br />
          84104
        </a>
      </div>
    </div>
  </div>
</footer>
