<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <main>

    </main>
    <footer>
        <div class="position-image">
            <img src="../img/footer-images/image.png">
        </div>
        <div class="logo-footer-position">
            <img class="logo-svg" src="../img/header-ikons/logo.svg">
            <a class="logo-text">FRESH HARVEST BOX</a>
        </div>
        <div class="menu-footer-container">
        <div class="menu-footer">
            <a class="menu-link-footer" href="index.html">How It Works</a>
            <a class="menu-link-footer" href="index.html">Fruits</a>
            <a class="menu-link-footer" href="index.html">Contacts</a>
        </div>
      </div>
        <div class="footer-icons">
          <img class="normal" src="../img/footer-icons/facebook.svg">
          <img class="hover" src="..//img/footer-icons/facebookhover.svg">
        </div>
        <div class="footer-icons-second">
          <img class="normal" src="../img/footer-icons/instagram.svg">
          <img class="hover" src="..//img/footer-icons/instagramhover.svg">
        </div>
        <div class="footer-icons-third">
          <img class="normal" src="../img/footer-icons/youtube.svg">
          <img class="hover" src="..//img/footer-icons/youtubehover.svg">
        </div>
        <div class="footer-contact">
          <a class="tel-number-footer">+380 (68) 443-94-26</a>
        </div>
        <div class="footer-adress">
          <a class="adress">1678 S. Pioneer Road
             Salt Lake City
              UT 84104</a>
        </div>
    </footer>
    <script type="module" src="./main.js"></script>
  </body>
</html>
