<section class="fruits" id="OrganicFruits">
    <div class="fruits__container">
        <div class="fruits__first">
            <h2 class="fruits__title">
                Organic Fruits
            </h2>
            <p class="fruits__text">
                Our organic fruits are hand-picked from local farms and delivered straight to your doorstep,
                ensuring that you get the
                freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown
                without the use of
                harmful pesticides or chemicals.
            </p>
        </div>
        <ul class="fruits__list">
            <li class="fruits__group">
                <div class="fruits__item fruits__strawberry">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Strawberry</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/strawberry.png 1x, ../img/strawberry-2x.png 2x" src="../img/strawberry.png"
                            alt="Strawberry" width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">100 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__banana">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Banana</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/banana.png 1x, ../img/banana-2x.png 2x" src="../img/banana.png" alt="Banana"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">80 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__watermelon">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Watermelon</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/watermelon.png 1x, ../img/watermelon-2x.png 2x" src="../img/watermelon.png"
                            alt="Watermelon" width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">40 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__lime">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Lime</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/lime.png 1x, ../img/lime-2x.png 2x" src="../img/lime.png" alt="Lime"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">60 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__apple">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Apple</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/apple.png 1x, ../img/apple-2x.png 2x" src="../img/apple.png" alt="Apple"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">50 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__peach">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Peach</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/peach.png 1x, ../img/peach-2x.png 2x" src="../img/peach.png" alt="Peach"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">80 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__plums">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Plums</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/plums.png 1x, ../img/plums-2x.png 2x" src="../img/plums.png" alt="Plums"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">40 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__orange">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Orange</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/orange.png 1x, ../img/orange-2x.png 2x" src="../img/orange.png" alt="Orange"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">60 UAH / kg</div>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__kiwi">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Kiwi</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/kiwi.png 1x, ../img/kiwi-2x.png 2x" src="../img/kiwi.png" alt="Kiwi"
                            width="295" height="251">
                    </div>
                    <svg class="fruits__oval" width="251" height="94" viewBox="0 0 251 94" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.1" filter="url(#filter0_f_89_78)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M125.5 66C179.348 66 223 57.4934 223 47C223 36.5066 179.348 28 125.5 28C71.6522 28 28 36.5066 28 47C28 57.4934 71.6522 66 125.5 66Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_f_89_78" x="0.817183" y="0.817183" width="249.366" height="92.3656"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="13.5914" result="effect1_foregroundBlur_89_78" />
                            </filter>
                        </defs>
                    </svg>
                    <div class="fruits__price">60 UAH / kg
                    </div>
                </div>
            </li>
        </ul>
        <a href="#YourOrder" class="fruits__order">
            <svg class="fruits__order_icon" width="14" height="14">
                <use href="../img/icons.svg#icon-arrow"></use>
            </svg>
            <span class="fruits__order_transform">Order</span>
        </a>
    </div>
</section>