<section class="fruits">
    <div class="fruits__container">
        <div class="fruits__first">
            <h2 class="fruits__title">
                Organic Fruits
            </h2>
            <p class="fruits__text">
                Our organic fruits are hand-picked from local farms and delivered straight to your doorstep,
                ensuring that you get the
                freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown
                without the use of
                harmful pesticides or chemicals.
            </p>
        </div>
        <ul class="fruits__list">
            <li class="fruits__group">
                <div class="fruits__item fruits__strawberry">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Strawberry</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/strawberry.png, ../img/strawberry-2x.png 2x" src="../img/strawberry.png"
                            alt="Strawberry" width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">100 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__banana">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Banana</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/banana.png, ../img/banana-2x.png 2x" src="../img/banana.png" alt="Banana"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">80 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__watermelon">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Watermelon</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/watermelon.png, ../img/watermelon-2x.png 2x" src="../img/watermelon.png"
                            alt="Watermelon" width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">40 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__lime">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Lime</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/lime.png, ../img/lime-2x.png 2x" src="../img/lime.png" alt="Lime"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">60 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__apple">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Apple</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/apple.png, ../img/apple-2x.png 2x" src="../img/apple.png" alt="Apple"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">50 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__peach">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Peach</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/peach.png, ../img/peach-2x.png 2x" src="../img/peach.png" alt="Peach"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">80 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__plums">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Plums</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/plums.png, ../img/plums-2x.png 2x" src="../img/plums.png" alt="Plums"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">40 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__orange">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Orange</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/orange.png, ../img/orange-2x.png 2x" src="../img/orange.png" alt="Orange"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">60 UAH / kg</button>
                </div>
            </li>
            <li class="fruits__group">
                <div class="fruits__item fruits__kiwi">
                    <div class="fruits-item-description">
                        <h3 class="fruits__subtitle">Kiwi</h3>
                        <p class="fruits__description">Plant</p>
                    </div>
                    <div class="fruits__img">
                        <img srcset="../img/kiwi.png, ../img/kiwi-2x.png 2x" src="../img/kiwi.png" alt="Kiwi"
                            width="295" height="251">
                    </div>
                    <button type="button" class="fruits__price">60 UAH / kg</button>
                </div>
            </li>
        </ul>
        <button type="button" class="fruits__order">
            <svg class="fruits__order_icon" width="14" height="14">
                <use href="../img/icons.svg#icon-arrow"></use>
            </svg>
            <span class="fruits__order_transform">Order</span>
        </button>
    </div>
</section>