<section class="fruits">
    <div class="fruits__container">
        <h2 class="fruits__title">
            Organic Fruits
        </h2>
        <p class="fruits__text">
            Our organic fruits are hand-picked from local farms and delivered straight to your doorstep,
            ensuring that you get the
            freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown
            without the use of
            harmful pesticides or chemicals.
        </p>
        <ul class="fruits__list">
            <li class="fruits__item fruits__item_strawberry">
                <h3 class="fruits__subtitle">Strawberry</h3>
                <p class="fruits__description">Plant</p>
                <img class="fruits__img" srcset="../img/strawberry.png, ../img/strawberry-2x.png 2x"
                    src="../img/strawberry.png" alt="Strawberry" width="295" height="251">
                <p class="fruits__price">100 UAH / kg</p>
            </li>
            <li class="fruits__item fruits__item_banana">
                <h3 class="fruits__subtitle">Banana</h3>
                <p class="fruits__description">Plant</p>
                <img srcset="../img/banana.png, ../img/banana-2x.png 2x" src="../img/banana.png" alt="Banana"
                    width="295" height="251">
                <p class="fruits__price">80 UAH / kg</p>
            </li>
            <li class="fruits__item fruits__item_watermelon">
                <h3 class="fruits__subtitle">Watermelon</h3>
                <p class="fruits__description">Plant</p>
                <img srcset="../img/watermelon.png, ../img/watermelon-2x.png 2x" src="../img/watermelon.png"
                    alt="Watermelon" width="295" height="251">
                <p class="fruits__price">40 UAH / kg</p>
            </li>
            <li class="fruits__item fruits__item_lime">
                <h3 class="fruits__subtitle">Lime</h3>
                <p class="fruits__description">Plant</p>
                <img srcset="../img/lime.png, ../img/lime-2x.png 2x" src="../img/lime.png" alt="Lime" width="295"
                    height="251">
                <p class="fruits__price">60 UAH / kg</p>
            </li>
            <li class="fruits__item fruits__item_apple">
                <h3 class="fruits__subtitle">Apple</h3>
                <p class="fruits__description">Plant</p>
                <img srcset="../img/apple.png, ../img/apple-2x.png 2x" src="../img/apple.png" alt="Apple" width="295"
                    height="251">
                <p class="fruits__price">50 UAH / kg</p>
            </li>
            <li class="fruits__item fruits__item_peach">
                <h3 class="fruits__subtitle">Peach</h3>
                <p class="fruits__description">Plant</p>
                <img srcset="../img/peach.png, ../img/peach-2x.png 2x" src="../img/peach.png" alt="Peach" width="295"
                    height="251">
                <p class="fruits__price">80 UAH / kg</p>
            </li>
        </ul>
        <button type="button" class="fruits__order">
            <span class="fruits__order_icon">
                <svg width="14" height="14">
                    <use href="../img/icons.svg#icon-arrow"></use>
                </svg>
            </span>
            <span style="transform: rotate(-14deg);">Order</span>
        </button>
    </div>
</section>