<header>
  <div class="menu-container">
    <a class="menu-link" href="how-it-works.html">How It Works</a>
    <a class="menu-link" href="fruits.html">Fruits</a>
    <a class="menu-link" href="contacts.html">Contacts</a>
  </div>
  <div class="header-logo">
    <img class="header-logo-svg" src="./img/header-ikons/logo.svg" />
    <a class="header-logo-text">FRESH HARVEST BOX</a>
  </div>
  <div class="header-cart">
    <img class="responsive" src="./img/header-ikons/cart.svg" />
    <img class="responsive-lines" src="./img/header-ikons/menu-tablet.svg" />
    <img class="responsive-modal" src="./img/header-ikons/x.svg" />
  </div>
</header>
