<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header>
        <div class="menu-container">
            <a class="menu-link" href="index.html">How It Works</a>
            <a class="menu-link" href="index.html">Fruits</a>
            <a class="menu-link" href="index.html">Contacts</a>
        </div>
        <div class="header-logo">
            <a> 
                <svg class="logo-svg">
                    <use></use>
                </svg>
            </a>
            <a class="logo-text">FRESH HARVEST BOX</a>
        </div>
        <div class="header-cart">
            <a> 
                <svg class="cart-svg">
                    <use></use>
                </svg>
            </a>
        </div>
    </header>
    <script type="module" src="./main.js"></script>
  </body>
</html>