<section class="hiw">
  <div class="hiw-container">
    <div class="hiw-order">
      <h2 class="hiw-title">
        To order your fruit basket, simply follow these easy steps
      </h2>
      <p class="hiw-paragraf">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. Whether you're looking for a healthy snack or a thoughtful
        gift, our fruit baskets are the perfect choice.
      </p>
    </div>
    <ul class="hiw-list">
      <li class="hiw-list-item">
        <div class="hiw-list-container">
          <div class="hiw-first-step">
            <h3 class="hiw-step-heading">First Step</h3>
          </div>
          <p class="hiw-list-paragraf">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="hiw-list-item">
        <div class="hiw-list-container">
          <div class="hiw-second-step">
            <h3 class="hiw-step-heading">Second Step</h3>
          </div>
          <p class="hiw-list-paragraf">
            Click on the basket and fill out the form.
          </p>
        </div>
      </li>
      <li class="hiw-list-item">
        <div class="hiw-list-container">
          <div class="hiw-third-step">
            <h3 class="hiw-step-heading">Third Step</h3>
          </div>
          <p class="hiw-list-paragraf">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>
    <img
      class="hiw-gif-img"
      src="./img/freshharvestbox.gif"
      alt="fruits"
      loading="lazy"
      width="860"
      height="476"
    />
  </div>
</section>
