<div class="on-off-second">
  <div class="pop-up">
    <div class="pop-btn-area">
      <button type="button" class="pop-up-btn">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="pop-for-flex">
      <img
        class="pop-img"
        src="./img/malina_m_1 1x"
        srcset="./img/malina_m_2 2x, ./img/malina_t_1 1x, ./img/malina_t_2 2x"
        alt="Raspberries"
      />
      <h2 class="pop-up-header">THANK YOU</h2>
      <p class="pop-up-p">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
  </div>
</div>
