.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: left;
  }
}

@media screen and (max-width: 767px) {
  .nav-header {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 1280px) {
  .nav-list {
    gap: 20px;
  }
}

.nav-link {
  padding: 16px 0;
  display: inline-block;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: #ae1332;
}

.logo-header {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .logo-header {
    margin-left: 94px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-header {
    margin-left: 322px;
  }
}
.logo-svg {
  fill: #ae1332;
}
.icon-cart-mobile-menu {
  fill: #fff;
}
.icon-cart {
  fill: #ae1332;
}
.text-logo {
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ae1332;
}

.heder-btn {
  background-color: #fff;
  border-color: transparent;
}

@media screen and (max-width: 767px) {
  .heder-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .heder-btn {
    margin-left: auto;
  }
}
.burger-btn {
  background-color: #fff;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}
.burger {
  fill: #ae1332;
}
.mobile-menu {
  background-color: #fff;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/**
  |============================
  | mobile menu styles 
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: flex;
  gap: 124px;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ae1332;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container .menu-toggle {
  position: absolute;
  right: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background-color: #ae1332;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: #fff;
}
.header-mobile-menu {
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 0;
  background-color: #fff;
  width: 100%;
  padding-left: 20px;
}
.is-open {
  transform: translateX(0);
}
