.hiw {
  background-color: #ae1332;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 44px;
}
.hiw-order {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
  color: #fff;
}
.hiw-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
