.on-off-second {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}
.pop-img {
  width: 207px;
  height: 176px;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 335px;
  height: 426px;
  background-color: #e03f5e;
  padding: 20px;
}
.pop-up-btn {
  background-color: #e03f5e;
  border: none;
}
.pop-up-header {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}
.pop-up-p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 14px;
}
.pop-btn-area {
  display: flex;
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .pop-up {
    width: 600px;
    height: 545px;
  }
  .pop-up-p {
    width: 391px;
  }
  .pop-for-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pop-img {
    width: 278px;
    height: 239px;
    margin-top: 48px;
  }
}
