.on-off {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.your-order-div {
  max-width: 335px;
  height: 903px;
  background-color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 20px 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.your-order-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.your-order-heading {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ae1332;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
.icon-your-order {
  color: #ae1332;
}
.your-order-x {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.your-order-list {
  list-style: none;
  width: 295px;
}
.your-order-list-child {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 12px;
}
.your-order-box {
  border-radius: 20px;
  width: 100%;
  height: 119px;
  display: flex;
  gap: 0;
  justify-content: space-around;
  align-items: flex-start;
}
.box-one {
  background-color: #f8766b;
}
.box-two {
  background-color: #edd251;
}
.box-three {
  background-color: #9dc262;
}
.your-box-div {
  margin-top: 20px;
  margin-left: 20px;
}
.your-order-div-img {
  margin-top: 16px;
}
.your-order-paragraph {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}
.your-box-head {
  margin: 0;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: #fff;
}
.your-order-paragraph {
  margin: 0;
}
.your-order-form {
  margin-top: 40px;
}
.your-form-div {
  height: 46px;
  border-radius: 100px;
  border-color: #000000;
  margin-bottom: 14px;
}
.your-form-div-second {
  height: 132px;
  border-radius: 100px;
  border-color: #000000;
  margin-bottom: 14px;
}
.your-order-input {
  width: 90%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 100%;
  border-radius: 100px;
  background-color: transparent;
  outline: transparent;
  padding: 0;
  padding-left: 24px;
}
.your-order-textarea {
  width: 90%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 132px;
  border-radius: 20px;
  background-color: transparent;
  outline: transparent;
  padding: 0;
  padding-left: 24px;
  resize: none;
}

.your-order-btn {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #fff;
  border-radius: 100px;
  padding: 12px 24px;
  width: 92px;
  height: 42px;
  background-color: #9dc162;
  border: 0;
  margin-top: 20px;
}
/*
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}*/
.your-order-checkbox {
  visibility: hidden;
}

.checkbox-container {
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  margin-top: 14px;
  margin-right: 14px;
}
.svg-for-your-check {
  position: relative;
}
@media (min-width: 768px) {
  .your-order-div {
    min-width: 704px;
    min-height: 853px;
  }
  .your-order-list {
    display: flex;
    gap: 12px;
    width: 624px;
    height: 250px;
  }
  .your-order-list-child {
    min-width: 200px;
  }
  .your-order-box {
    display: flex;
    flex-direction: column-reverse;

    width: 200px;
    height: 250px;
  }
  .your-order-div-img {
  }
}
